 @font-face {
     font-family: 'Gotham Pro';
     src: url('/fonts/ofont.ru_GothamPro.ttf') ;
 }
@font-face {
     font-family: 'Gotham Pro Regular';
     src: url('/fonts/ofont.ru_GothamProRegular.ttf') ;
 }

 body {
     margin: 0;
 }
 a:active,
 a:hover,
 a {
     text-decoration: none;
     color: #01183C;
 }
 header {
     display: flex;
     flex-direction: column;
     padding: 2% 0 0;
     font-family: 'Gotham Pro';
     font-style: normal;
     font-weight: normal;
     font-size: 20px;
     line-height: 19px;

     color: #01183C;
 }

 header .title-bar {
     display: flex;
     justify-content: space-between;
     padding: 0 5%;
 }

 .container {
     display: flex;
     width: 54%;
     flex-direction: row;
     justify-content: space-between;
 }

 .icon-specstroy {
     display: flex;
 }



 .icon-specstroy_Title {
     padding-left: 1%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     font-family: Gotham Pro;
     font-style: normal;
     font-weight: bold;
     font-size: 24px;
     color: #026977;
 }

 .town {
     display: flex;
     flex-direction: column;
     justify-content: center;
     font-family: Gotham Pro Regular;
     font-style: normal;
     font-weight: normal;
     font-size: 15px;
     line-height: 17px;
     color: #01183C;
 }

 .phoneNumber {
     display: flex;
     flex-direction: row;
     align-items: center;
     font-family: Gotham Pro Regular;
     font-style: normal;
     font-weight: normal;
     font-size: 15px;
     line-height: 17px;
     color: #01183C;
     margin-left: 8%;
 }


 .phoneNumberText {
     width: 15vw;
     margin-left: 2%;
 }

 header div.privateOfice {
     display: flex;
     flex-direction: row;
     align-items: center;
     font-family: Gotham Pro;
     font-style: normal;
     font-weight: bold;
     font-size: 15px;
     line-height: 17px;
     color: #01183C;
     width: 15.1vw;
     justify-content: flex-end;
 }

 .icon {
     width: 10%;
 }

 .privateOfice .icon {
     margin-top: 2%;
 }

 header a.privateOfice {
     margin-left: 2%;
     text-decoration: none;
 }

 header .nav-bar {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     background-color: #EFFFF7;
     margin-top: 1%;
     padding: 1.5% 5%;
     font-family: Gotham Pro Regular;
     font-style: normal;
     font-weight: normal;
     font-size: 17px;
     line-height: 19px;
     color: #01183C;
 }
.nav-bar a{
    text-decoration: none;
}

 main .search-container {
     display: flex;
     padding: 2% 5%;
     flex-direction: column;
     justify-content: space-between;
     background-image: url(searchAreaBg.png);
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
 }


 main .search-container form {
     position: relative;
     width: auto;
 }

 main .search-container form .icon {
     width: 2%;
     position: absolute;
     margin-left: 3%;
     display: flex;
     justify-content: center;
    flex-direction: column;
     height: 100%;
 }

 main .search-container input {
     width: 100%;
     height: 50px;
     padding-left: 6%;
     border-radius: 7px;
     outline: none;
     background: white;
     color: #9E9C9C;
     box-sizing: border-box;
     border: 0;
 }

 main .searchAreaButton {
     position: absolute;
     top: 0;
     right: 0px;
     height: 100%;
     border: none;
     background: #026977;
     border-radius: 0 5px 5px 0;
     cursor: pointer;
     border-radius: 7px;
     padding: 0 3%;
     text-align: center;
     font-family: Gotham Pro Regular;
     font-style: normal;
     font-weight: normal;
     font-size: 20px;
     line-height: 23px;
     color: #FFFFFF;

 }

 main .searchAreaButton:active {
     background-color: #007585;
 }

 main .advantage_title {
     margin-top: 5%;
     font-family: Gotham Pro Regular;
     font-style: normal;
     font-weight: normal;
     font-size: 35px;
     line-height: 33px;

     color: #FFFFFF;

 }

 main .advantage_explanation {
     margin-top: 2%;
     font-family: Gotham Pro Regular;
     font-style: normal;
     font-weight: normal;
     font-size: 24px;
     line-height: 23px;
     color: #FFFFFF;

 }

 main .advantageButtonIndications {
     margin-top: 3%;
     padding: 1.5% 6%;
     border-radius: 7px;
     border: 0;
     font-family: Gotham Pro Regular;
     font-style: normal;
     font-weight: normal;
     font-size: 15px;
     line-height: 17px;
     color: #01183C;
     background-color: white;
     cursor: pointer;
 }

 main .advantageButtonIndications:active {
     background-color: #007585;
 }

 main .news-container {
     padding: 5% 5%;
 }

 main .news_header {
     font-family: "Gotham Pro";
     font-style: normal;
     font-weight: bold;
     font-size: 35px;
     line-height: 33px;

     color: #01183C;

 }

 main .news_main {
     display: flex;
     justify-content: space-between;
     margin-top: 2%;
     margin-bottom: 3%;
 }

 main .news_blockTitle {
     font-family: Gotham Pro Regular;
     font-style: normal;
     font-weight: normal;
     font-size: 22px;
     line-height: 21px;

     color: #01183C;
     margin-top: 5%;

 }

 main .news_blockDate {
     font-family: Gotham Pro Regular;
     font-style: normal;
     font-weight: normal;
     font-size: 18px;
     line-height: 17px;
        
     color: #01183C;
     margin-top: 2%;
 }

 main .news_ButtonCheckAll {
     font-family: Gotham Pro Regular;
     font-style: normal;
     font-weight: normal;
     font-size: 20px;
     line-height: 19px;
     text-decoration-line: underline;
     cursor: pointer;
     color: #01183C;

 }

 main .news_ButtonCheckAll:active {
     background-color: #007585;
 }

 main .service-container_title {
     margin: 0 0 3% 5%;
     font-family: Gotham Pro;
     font-style: normal;
     font-weight: bold;
     font-size: 35px;
     line-height: 33px;

     color: #01183C;
 }

 main .service-container_main {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     background-image: url(servicebg.png);
 }

 main .service-container_block {
     width: 25%;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 2% 5%;
     border: 1px solid #01183C;
    box-sizing: border-box;

 }

 main .service-container_icon {
     width: 35%;
 }


 main .service-container_blockTitle {
     font-family: Gotham Pro;
     font-style: normal;
     font-weight: normal;
     font-size: 22px;
     line-height: 21px;
     color: #01183C;
     text-align: center;
 }

 main .service-container_blockExplanation {
     text-align: center;
     font-family: Roboto;
     font-style: normal;
     font-weight: normal;
     font-size: 20px;
     line-height: 23px;
     text-align: center;

     color: #01183C;
     margin-top: 2%;
 }

 main .service-container_footer {
     text-align: center;
 }

 main .service-container_footerButtonCheckAll {
     margin-top: 2%;
     background: #026977;
     border-radius: 7px;
     padding: 1% 5%;
     border: 0;
     font-family: Gotham Pro Regular;
     font-style: normal;
     font-weight: normal;
     font-size: 18px;
     line-height: 17px;
     color: #FFFFFF;
     cursor: pointer;

 }

 main .service-container_footerButtonCheckAll:active {
     background-color: #007585;
 }

 footer {
     padding: 2% 6%;
     background-color: #EFFFF7;
     margin-top: 3%;
 }


 footer .footer-nav-bar {
     display: flex;
     justify-content: space-between;;
     flex-direction: row;
     margin-top: 2%;
 }


 footer ul {
     padding-left: 10%;
     list-style-type: none;
     width: max-content;
 }

 footer li {
     margin-top: 15%;
     font-family: Gotham Pro Regular;
     font-style: normal;
     font-weight: normal;
     font-size: 20px;
     line-height: 19px;
     color: #01183C;
     text-decoration: none;
 }




 footer .footer-nav-bar_contacts {
     display: flex;
     flex-direction: column;
     margin-top: 1%;
 }

 footer .contacts_title {
     font-family: Gotham Pro;
     font-style: normal;
     font-weight: normal;
     font-size: 30px;
     line-height: 29px;
     color: #01183C;
 }

 footer .phoneNumber {
     margin: 0;
 }

 footer .town {
 }

 footer .messangers {
     display: flex;
 }

 footer .messangers_icon {
     width: 15%;
     margin-left: 8%;
 }

 footer .tg {
     margin: 0;
 }

.footer-nav-bar_contacts ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10vw;
    padding: 0;
}

 .messangers_icon {
     width: 5%;
 }

 footer img {
     object-fit: cover;
 }
